.container-container-profile {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  padding: 20px 0;
  width: 600px;
  h1 {
    padding-bottom: 30px;
  }
}

.profile_card{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-bottom: 30px;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 40%;
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    padding: 40px 0 10px 0;
  }
}
.container{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    padding: 40px 0 10px 0;
  }
}


