.container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 20px 0;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.teacher-details {
  display: flex;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
  margin-right: 10px;
  flex-direction: column;
}

.skills-story {
  display: flex;
  padding-top: 20px;
}

.story {
  margin: 0 5px 0 20px;
  flex-grow: 1;
  background-color: #F4F4F4;
  border-radius: 4px;
  padding: 10px 10px;
}

.skills {
  position: relative;
  left: 5px;
  width: 175px;
  height: 280px;
  background-color: #F4F4F4;
  border-radius: 4px;
  padding: 10px 10px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

.teacher-photo-name {
  display: flex;
  padding: 20px 0 0 5px;
}

.name {
  padding: 0 30px;
}

h1 {
  font-size: 50px;
}

.buttons {
  display: flex;
  margin-top: 15px;
}

.btn-primary {
  flex-grow: 1;
  margin-right: 10px;
}

.btn-danger {
  flex-grow: 1;
  margin-left: 10px;
}

#teacher-profile-photo {
  height: 175px;
}

.name-skills {
  padding-top: 10px;
}

#map {
  border-radius: 8px;
  height: 500px;
  width: auto;
}
