.container-show {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  padding: 20px 0;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.teacher-details {
  display: flex;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
  margin-right: 10px;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 50%;
}

.skills-story {
  display: flex;
  padding-top: 20px;
}

.story {
  margin: 0 5px 0 20px;
  flex-grow: 1;
  background-color: #F4F4F4;
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h3 {
    border-bottom: #e5e5e5 solid 0.5px;
  }
}

.skills {
  position: relative;
  left: 5px;
  min-width: 170px;
  height: 240px;
  background-color: #F4F4F4;
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h3 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 9px;
    border-bottom: #e5e5e5 solid 0.5px;
  }
}

.teacher-photo-name {
  display: flex;
  padding: 20px 0 0 5px;
}

.name-users-show  {
  display: flex;
  align-items: center;
  padding: 0 30px;
  h1 {
    font-size: 50px;
  }
}

.name-skills {
  padding-top: 10px;
}

div.map-user.mapboxgl-map {
  border-radius: 8px;
  height: 460px !important;
  width: 30%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-user{
    color: #fff !important;
    background-color: #797979;
    border-color: #797979;
}

.btn-user:hover{
    color: #fff !important;
    background-color: #5E5E5E !important;
    border-color: #5E5E5E !important;
}
