.container-show {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  padding: 20px 0;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.teacher-details {
  display: flex;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
  margin-right: 10px;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.skills-story {
  display: flex;
  padding-top: 20px;
}

.story {
  margin: 0 5px 0 20px;
  flex-grow: 1;
  background-color: #F4F4F4;
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.skills {
  position: relative;
  left: 5px;
  min-width: 180px;
  height: 280px;
  background-color: #F4F4F4;
  border-radius: 4px;
  padding: 10px 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
}

.teacher-photo-name {
  display: flex;
  padding: 20px 0 0 5px;
}

.name-users-show  {
  padding: 0 30px;
  h1 {
    font-size: 50px;
  }
}

.name-skills {
  padding-top: 10px;
}

#map-users-show {
  border-radius: 8px;
  height: 500px;
  width: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
