<div class="container d-flex justify-content-between">
  <% @teachers.each do |user| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Teacher</h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= link_to user.first_name, user_path(user) %></h6>
        <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
        <h6 class="card-subtitle mb-2 "><%= user.location %></h6>
        <h6 class="card-subtitle mb-2 "><%= user.skill %></h6>
        <a href="#" class="card-link"></a>
        <a href="#" class="card-link"></a>
      </div>
  </div>
  <% end %>
</div>

