
<div class="gradiant"></div>
  <div class="video">
  <%= video_tag "timelapsesky.mp4", autoplay: "autoplay", id: "video", muted: true, width: "100%", loop: "true", :class => "video"%>
  </div>


  <div class="header-container">

    <h1><b>LessonFly</b></h1>
    <p>Share your knowledge, Learn from others</p>
    <div class="new-search">
      <%= form_tag users_path, method: :get, class: "form search-skills" do %>
        <%= text_field_tag :query,
          params["#{:query}?size=5"],
          class: "form-control search",
          placeholder: "Search Skills"
        %>
      <% end %>
    </div>
  </div>

<!--   <div class="search-bar">
    <input type="text" placeholder="JOIN THE COMMUNITY....">
    <div class="search"></div>
  </div> -->
      <div class="container text-center banner-2">

            <h1 class="section_title">Welcome LessonFly</h1>
            <p class="normal_text">
                  Your extraordinary one-on-one fun tutoring experience start here! To learn and teach <br>you can create your own classes or attend someone else's trainings and directly connect!
            </p>

      </div>


      <!-- <hr class="line line-top1 "> -->

      <div class="row cards-landing-page" id="scroll-down">


        <div class="col-lg-4 text-center card-landing">
          <img class="rounded-circle" src="https://cdn.dribbble.com/users/1973532/screenshots/5059462/illustration_students.png" alt="Generic placeholder image" width="200" height="200">
          <h1>Teach</h1>
          <p>Share with other what you know, and be rewarded by it. Our students are dedicated and willing to learn what you teach. Digital tools save you time</p>
          <p><a class="btn btn-secondary btn-card" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center card-landing">
          <img class="rounded-circle" src="https://cdn.dribbble.com/users/46302/screenshots/5092379/school.png" alt="Generic placeholder image" width="200" height="200">
          <h1>Learn</h1>
          <p>Expand your horizons learning new things. Whether for fun or to advance your career, learn from experienced people on one-on-one sessions</p>
          <p><a class="btn btn-secondary btn-card" href="#" role="button">View details</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center card-landing">
          <img class="rounded-circle" src="https://cdn.dribbble.com/users/369527/screenshots/4347634/pietrasiak_data_center2.png" alt="Generic placeholder image" width="200" height="200">
          <h1>Connect</h1>
          <p>The platform provides a secure and trusted place where experienced people teach avid learners making use of digital tools to let you focus on what matters</p>
          <p><a class="btn btn-secondary btn-card" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->

      </div>
<!--  -->
      <!-- <hr class="line line-top line-bottom"> -->
      <!-- /.row -->

            <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">One-on-one. <span class="text-muted">Connecting Digital + Real.</span></h2>
          <p class="lead">LessonFly provides digital tools that help students and teachers find each other. With a large variety of topics you will find what you are looking for. Take advantage of our frameworks to book and pay classes. And use the time for what matters: <strong>Learn and Teach</strong>!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="https://cdn.dribbble.com/users/70808/screenshots/5090953/graduate.jpg" alt="Generic placeholder image" style= "width: 500px; height: 500px; max-width: 100%; border-radius: 20px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
        </div>
      </div>

     <!--  <hr class="line line-top line-bottom"> -->






