<div style="position: absolute;">
  <%= video_tag "turbine.mp4", autoplay: "autoplay", id: "video", muted: true, width: "100%", loop: "true" %>
  <div class="header-container">
    <h1>LESSONFY</h1>
    <p>EARN SHARING PASSION, LEARN GAINING TWICE!</p>
    <%= link_to "JOIN THE COMMUNITY!", users_path, class: 'btn btn-primary' %>
  </div>
</div>


