.buttons-users-show  {
  display: flex;
  margin-top: 15px;
}

.btn-all-teachers {
  flex-grow: 1;
  margin-right: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: center;
}

.btn-booking-teacher {
  flex-grow: 1;
  margin-left: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: center;
}
