.card-teacher {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-teacher > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-teacher h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-teacher p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-teacher .card-teacher-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-teacher-infos .card-teacher-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.main-container {
  display: flex;
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
  margin-left: 8px;
  margin-right: 8px;

}
#homepage_claim {
    padding-top: 70px;
    padding-bottom: 50px;
    background: #ffffff;
}
.full_wrap {
    width: 100%;
    position: relative;
    padding: 20px 2%;
}
.section_title{
    font-weight: 600;
}

#homepage_claim {
    padding-top: 70px;
    padding-bottom: 50px;
    background: #ffffff;
}
.full_wrap {
    width: 100%;
    position: relative;
    padding: 20px 2%;
}
.section_title{
    font-weight: 600;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 200px;
  width: 100%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#big_page_title_loop{
  color: orange
}
.fader_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: rgba(34,34,34,0.2);
}

.card-landing:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}


