.footer{
  background-color: transparent !important;
}

.footer-links a {
    color: #B2E8EE;
    opacity: 1 !important;
    text-decoration: none;
    font-size: 32px;
    padding: 0px 10px;
}

.footer-links a:hover {
    color: #FF3470;
}

.logo{
  text-decoration: none !important;
}

.logo :hover{
  color: #FF3470 !important;
}
