// Import your components CSS files here.
@import "avatar";
@import "banner";
@import "card";
@import "carousel";

@import "button";

@import "cards";
@import "main_container";
@import "map";
@import "navbar";
@import "sign-in&up-form";
@import "become_teacher";
@import "bookings_index_page";
