.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  position: fixed; top:0; width:100%;
}

.nav-link {
  color: #333;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-grey {
  background-color: #a1afad;
  padding-top :5px;
}
