.navbar-lewagon-grey{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white !important;
}

.navbar-lewagon {
  // justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  position: fixed;
  top:0;
  width:100%;
}

.nav-link {
  color: #B2E8EE !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .navbar-lewagon-grey {
//   background-color: #B2E8EE !important;
//   opacity: 0.8;
//   padding-top :5px;
// }

.navbar-brand {
  color: white !important;
}

.mr-left {
  margin-left: auto;
  display: flex;
}

.btn-right-margin{
    margin-right: 25px;
}

.left-button{
  margin-left: 24px;

}

.btn-ghost {
  color: #FFFFFF;
  border: 2px solid #B2E8EE;
  border-radius: 10px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  font-size: 14px;
}

.logo{
  font-size: 30px;
  color: #B2E8EE !important;
  font-weight: bold;
  font-variant: small-caps;
}
