.sign-in-container {
  display: block;
  margin-top: 80px;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  border: #767676 solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  h1 {
    color: #585A63;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: #767676 solid 1px;
    margin-bottom: 20px;
  }
  h2 {
    color: #585A63;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: #767676 solid 1px;
    margin-bottom: 20px;
  }
}

input.btn {
  color: white;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 2px;
}
label.form-check-label.boolean.optional {
  color: #585A63;
}


div.form-check {
  margin-bottom: 10px;
  border-bottom: #767676 solid 1px;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: #dddddd;
}

.form-label-group input:-ms-input-placeholder {
  color: #dddddd;
}

.form-label-group input::-ms-input-placeholder {
  color: #dddddd;
}

.form-label-group input::-moz-placeholder {
  color: #dddddd;
}

.form-label-group input::placeholder {
  color: #dddddd;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
